:root {
    --dark: black;
    --light: white;
    --blue: rgb(0, 87, 123);
}

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: rgb(6, 9, 31);
    display: flex;
    font-size: 1.3em;
}

a {
    color: white;
    text-decoration: none;
}

li a:hover,
li a:focus {
    color: hotpink;
    text-decoration: underline;
}

#logo:hover,
#logo:focus {
    color: hotpink;
    text-decoration: none;
}

.jumbotron {
    background-color: rgb(6, 9, 31);
}

#kp {
    color: hotpink;
    text-decoration: none;
}

#name {
    color: hotpink;
}

.jumbo-text {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.jumbo-img {
    justify-content: center;
    align-items: center;
}

img {
    box-shadow: -4px -2px 8px rgb(6, 9, 31), -2.4em -1.4em hotpink;
    margin: 20px;
}

#logo {
    font-size: 50px;
}
